.sobre{     /* SESSÃO QUE POSSUI OS CURSOS DE AMOSTRA TELA PRINCIPAL */
    width: 90%; /* SESSÃO QUE POSSUI OS CURSOS DE AMOSTRA TELA PRINCIPAL */
    margin: auto; 
    text-align: center;
    padding-top: 5px;
}

h2{
    padding-top: 20px;
    text-align: center;
    color: white;
}