<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Fip Inicio</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> <!-- code para trabalhar circulos -->
    <script src="https://teobais.github.io/percircle/dist/js/percircle.js"></script>
    <!-- code para trabalhar circulos -->
    <link rel="stylesheet" href="https://teobais.github.io/percircle/dist/css/percircle.css">
    <!-- code para trabalhar circulos -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/estilo-slider.css">
    <link rel="stylesheet" href="./css/estilo-relatos.css">
    <link rel="stylesheet" href="./css/estilo-curso.css">
    <link rel="stylesheet" href="./css/estilo-duv.css">
    <link rel="stylesheet" href="./css/estilo-sobre.css">
    <link rel="stylesheet" href="./css/menuResposividade.css">
</head>

<body>
    <!-- TOPO DO SITE -->
    <div class="wrapper">
        <section>
            <!-- Abertura da borda/margem lateral do site 90% da tela -->
            <header>
                <!-- abertura do cabeçalho -->
                <h3>Faculdade Internacional do Pará <small>fip</small></h3> <!-- titulo/logo -->
                <!-- botao para acessar o menu em telas menores-->
                <img class="botao-chaveador js-botao-chaveador" src="./imgs/menu-aberto.png" alt="">
                <ul class="js-menu">
                    <li><a href="index.html">Inicio</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-gradu.html">Graduações</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-estru.html">Estrutura</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-duv.html">Duvidas</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-sobre.html">Sobre Nos</a></li> <!-- barra de navegação menu lateral -->
                    <li class="botao-dados"><a class="js-redirect" href=""><span class="las la-user">
                            </span>Meus Dados</a>
                    </li>
                    <li class="botao-sair"><a href=""><span class="las la-times"></span>Sair</a></li>
                    <!-- BTN - contato -->
                </ul>
            </header> <!-- fechamento do cabeçalho -->

            <div class="slider">
                <!--SLIDE DAS IMAGENS NA TELA PRINCIPAL -->
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <div class="slide first">
                        <img src="imgs/a-imagem1.jpeg" width="700" height="500" alt="Imagem 1">
                    </div>
                    <div class="slide">
                        <img src="imgs/formandos.jpg" width="700" height="500" alt="Imagem 2">
                    </div>
                    <div class="slide">
                        <img src="imgs/a-imagem3.jpeg" width="700" height="500" alt="Imagem 3">
                    </div>
                    <div class="slide">
                        <img src="imgs/a-imagem4.jpeg" width="700" height="500" alt="Imagem 4">
                    </div>

                    <div class="navigation-auto">
                        <!--BOTÃO DOS SLIDE DAS IMAGENS NA TELA PRINCIPAL -->
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
            <div class="hero">
                <!--TEXTO TITULO TELA PRINCIPAL -->
                <div class="texto">
                    <h1>Graduação <br> Qualidade <br>È na FIP</h1>
                    <a href="formulario.html">
                        Matricula-se
                        <!--BOTÃO DE MATRICULA -->
                    </a>
                </div>
            </div>
            <div class="pagina-divide">
                <!--LINHA DIVISORIA FIM DA TELA INICIAL -->
                <div class="divide"></div>
                <div class="divide-linha right"></div>
            </div>
            <!--FIM DA LINHA DIVISORIA FIM DA TELA INICIAL -->
            <!-- FIM DA TELA PRINCIPAL DO SITE -->
        </section>
        <!-- FIM DA TELA PRINCIPAL DO SITE -->
        <!-- FIM DA TELA PRINCIPAL DO SITE -->


        <!-- SEGUNDA PARTE DO SITE PAG-01 DISCIPLINAS-->
        <!-- SEGUNDA PARTE DO SITE PAG-01 DISCIPLINAS-->
        <section class="curso">
            <h1 class="area">CONHEÇA NOSSOS CURSOS</h1>
            <div class="container">
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia eletrica.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia Eletrica</h2>
                        <p class="lorem">Duração 5 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">AREA DE CURSOS</button>
                    </div>
                </div>
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia-1-1.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia de Software</h2>
                        <p class="lorem">Duração 4 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">AREA DE CURSOS</button>
                    </div>
                </div>
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia-3.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia Civil</h2>
                        <p class="lorem">Duração 5 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">AREA DE CURSOS</button>
                    </div>
                </div>
            </div>

        </section>
        <div class="pagina-divide">
            <!--LINHA DIVISORIA FIM DA TELA INICIAL -->
            <div class="divide"></div>
            <div class="divide-linha left"></div>
        </div>
        <!--FIM DA LINHA DIVISORIA FIM DA TELA INICIAL -->



        <!--INICIO DA SESSÃO DE RELATOS -->
        <!--INICIO DA SESSÃO DE RELATOS -->
        <section class="pesquisa">
            <h1 class="area">GRAU DE SARTISFAÇÃO DOS ALUNOS</h1>
            <div class="row-1">
                <div class="skill-wrapper">
                    <div class="skill">
                        <div id="pie-1" data-percent="96.33"></div>
                        <p>Engenharia Civil</p>
                    </div>
                    <div class="skill">
                        <div id="pie-2" data-percent="97.71"></div>
                        <p>Engenharia Mecanica</p>
                    </div>

                    <div class="skill">
                        <div id="pie-3" data-percent="98.06"></div>
                        <p>Engenharia Florestal</p>
                    </div>
                    <div class="skill">
                        <div id="pie-4" data-percent="99.8"></div>
                        <p>Engenharia de Software</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="pagina-divide">
            <!--LINHA DIVISORIA FIM DA TELA INICIAL -->
            <div class="divide"></div>
            <div class="divide-linha right"></div>
        </div>
        <!--FIM DA LINHA DIVISORIA FIM DA TELA INICIAL -->
        <script type="text/javascript"> // função para inserir circulo no site
            $(function () {
                $("#pie-1").percircle({ progressBarColor: '#229c9c' });
                $("#pie-2").percircle({ progressBarColor: '#229c9c' });
                $("#pie-3").percircle({ progressBarColor: '#229c9c' });
                $("#pie-4").percircle({ progressBarColor: '#229c9c' });
            });
        </script>
        <!--SESSÃO AVALIAÇÃO - CIRCULOS -->



        <!-- SESSÃO DE RELATOS -->
        <!-- SESSÃO DE RELATOS -->
        <section class="relatos">
            <h1 class="area">RELATOS DOS DICENTES</h1>
            <div class="row">
                <div class="relatos-coluna">
                    <img class="fotos" src="imgs/andreia.jpg">
                    <div>
                        <p>Fazer parte dessa historia é algo extraordinario, estou realizando um sonho, engenharia civil
                            sempre foi meu sonho de infancia e está podendo cursar o ensino superio em uma faculdade
                            conhecida internacionalmente é a realização de um sonho.</p>
                        <h3>Andreia Oliveira</h3>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                </div>
                <div class="relatos-coluna">
                    <img class="fotos" src="imgs/higor araujo.jpg">
                    <div>
                        <p>Super recomendado, me formei e em menos de um mes recebi o certificado, excelentes
                            professores, o aprendizado com pessoas de países diferentes simplesmente exapandiu minha
                            visão sobre o mercado e as areas de atuação.</p>
                        <h3>Higor Ribeiro</h3>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="pagina-divide">
            <!--LINHA DIVISORIA FIM DA TELA INICIAL -->
            <div class="divide"></div>
            <div class="divide-linha left"></div>
        </div>
        <!--FIM DA LINHA DIVISORIA FIM DA TELA INICIAL -->


        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <section class="rodape">
            <!-- FINAL DO SITE PAG-01 RODAPÉ -->
            <div class="contato">
                <h1>FALE CONOSCO</h1>
                <a href="" class="hero-btn">CONTATO</a>
            </div>
            <h4>MIDIAS SOCIAIS</h4>
            <p>Tenha acesso a conteudo inedito e em primeira mão atraves das nossas redes sociais
                Esteja sempre por dentro das nossas novidades</p>
            <!-- não estar fazendo a leitura dos icones-->
            <div class="icons">
                <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
            </div>
            <p>Direitos Reservados 2022 - Paragominas - PA</p>
        </section> <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->


    </div>

</body>

<!-- IMPORTS JAVASCRIPT -->
<script src="./javaspripts/meusdadosBotao.js"></script>
<script src="./javaspripts/botaoResposividade.js"></script>
<!-- <script src="./javaspripts/script.js"></script> -->
<!-- IMPORTS JAVASCRIPT -->

</html>