<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Fip Graduações</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> <!-- code para trabalhar circulos -->
    <script src="https://teobais.github.io/percircle/dist/js/percircle.js"></script>
    <!-- code para trabalhar circulos -->
    <link rel="stylesheet" href="https://teobais.github.io/percircle/dist/css/percircle.css">
    <!-- code para trabalhar circulos -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/estilo-slider.css">
    <link rel="stylesheet" href="./css/estilo-relatos.css">
    <link rel="stylesheet" href="./css/estilo-curso.css">
    <link rel="stylesheet" href="./css/estilo-duv.css">
    <link rel="stylesheet" href="./css/estilo-sobre.css">
    <link rel="stylesheet" href="./css/menuResposividade.css">
</head>

<body>
    <!-- TOPO DO SITE -->
    <div class="wrapper">
        <section>
            <!-- Abertura da borda/margem lateral do site 90% da tela -->
            <header>
                <!-- abertura do cabeçalho -->
                <h3>Faculdade Internacional do Pará <small>fip</small></h3> <!-- titulo/logo -->
                <button class="botao-chaveador js-botao-chaveador"></button>
                <ul class="js-menu">
                    <li><a href="index.html">Inicio</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-gradu.html">Graduações</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-estru.html">Estrutura</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-duv.html">Duvidas</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href="index-sobre.html">Sobre Nos</a></li> <!-- barra de navegação menu lateral -->
                    <li><a href=""><span class="las la-user"></span>Meus Dados</a></li> <!-- BTN - contato -->
                </ul>
            </header> <!-- fechamento do cabeçalho -->
        </section>


        <!-- SEGUNDA PARTE DO SITE PAG-01 DISCIPLINAS-->
        <!-- SEGUNDA PARTE DO SITE PAG-01 DISCIPLINAS-->
        <section class="curso">
            <h1 class="area">CURSOS FIP</h1>
            <div class="container">
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia eletrica.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia Eletrica</h2>
                        <p class="lorem">Duração 5 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">EU QUERO</button>
                    </div>
                </div>
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia-1-1.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia de Software</h2>
                        <p class="lorem">Duração 4 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">EU QUERO</button>
                    </div>
                </div>
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia-3.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia Civil</h2>
                        <p class="lorem">Duração 5 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">EU QUERO</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia de produção.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia de Produção</h2>
                        <p class="lorem">Duração 5 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">EU QUERO</button>
                    </div>
                </div>
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenhariamecanica01.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia Mecanica</h2>
                        <p class="lorem">Duração 4 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">EU QUERO</button>
                    </div>
                </div>
                <div class="card">
                    <div class="imagens">
                        <img class="foto" src="img-cursos/engenharia florestal.jpg" alt="">
                    </div>
                    <div class="texto">
                        <h2 class="text-main">Engenharia Florestal</h2>
                        <p class="lorem">Duração 5 Anos</p>
                        <div class="estrelas">
                            <i class="fa fa-star"></i> <!-- ICONES -->
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="boton">
                        <button class="btn btn-green">EU QUERO</button>
                    </div>
                </div>
            </div>

        </section>
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <section class="rodape">
            <!-- FINAL DO SITE PAG-01 RODAPÉ -->
            <h4>MIDIAS SOCIAIS</h4>
            <p>Tenha acesso a conteudo inedito e em primeira mão atraves das nossas redes sociais
                Esteja sempre por dentro das nossas novidades</p>
            <!-- não estar fazendo a leitura dos icones-->
            <div class="icons">
                <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
            </div>
            <p>Direitos Reservados 2022 - Paragominas - PA</p>
        </section> <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->
        <!-- FINAL DO SITE PAG-01 RODAPÉ -->


    </div>
</body>

<!-- IMPORTS JAVASCRIPT -->
<script src="./javaspripts/botaoResposividade.js"></script>
<!-- IMPORTS JAVASCRIPT -->

</html>